@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

font-family: ‘cwTeXFangSong’,
serif;

/* body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Rye', cursive；
} */

h1 {
    color: bisque;
    font-family: cwTeXFangSong;
    font-weight: bold;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: bisque;
    font-family: cwTeXFangSong;
    font-weight: bold;
}

/* h3 {
    margin-top: 10px;
    font-family: cwTeXFangSong;
} */


h4 {
    font-family: Microsoft JhengHei;
    font-weight: bold;
    text-align: center;
    color: white;

}


/* .title {
    font-family: cwTeXFangSong;
    text-align: center;
    color: #0d4261;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
}

.title2 {
    font-family: cwTeXFangSong;
    text-align: center;
    color: #0d4261;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 30px;

} */


/* body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

